.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-primery-color);

  transition: color var(--animation);

  &:hover,
  *:focus {
    color: var(--accent-color);
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill var(--animation);

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: var(--accent-color);
  }
}
/*footer*/
.contacts__link--start {
  align-items: flex-start;
  letter-spacing: 0.03em;
  padding: 0;
  color: var(--address--link-col);

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
