.social {
  @include flexCenter;
  min-width: 206px;
}

.social__item {
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
  height: 44px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.social__link {
  @include flexCenter;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background: $white-color;
  transition: background-color $animation;

  &--bg {
    background-color: $footer-link-bg;
  }

  &:hover,
  &:focus {
    background: $accent-color;
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: $base-icon-color;
  transition: $animation;

  &--col-unchanged {
    fill: $white-color;
  }

  .social__link:hover &,
  .social__link:focus & {
    fill: $white-color;
  }
}
