/*--кнопки-фильтры со страницы "portfolio"--*/
.filter {
  display: flex;
  justify-content: center;
  margin: auto;

  min-width: 611px;
  margin-bottom: 50px;

  &__item {
    margin-right: 8px;
  }

  &__item:nth-child(5n) {
    margin-right: 0px;
  }
}

.filter__button {
  border-style: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-title-color);
  background-color: var(--grey-color);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  box-shadow: transparent;

  @include transition(color);
  @include transition(background-color);
  @include transition(box-shadow);
  //transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--primery-accent-color);
    box-shadow: var(--button-shadow);
  }
}
