.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background-color: var(--secondary-accent-color);
  color: var(--white-color);
  background-image: var(--linear-gradient-bgi), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;

  &__title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    max-width: 700px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
